/* setup the page */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Roboto:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  animation: opening 1s ease-in-out;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

/* navbar */

nav {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  align-items: center;
  padding: 2rem 0;
}

nav .logo{
  flex:  1 1 25rem;
  font-family: 'Rakkas', cursive;
  font-size: 2rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex:  1 1 25rem;
  
}

.navbar{
  box-shadow:0 10px 10px rgba(0, 0, 0, 0.1);
}

/* showcase */

#showcase{
  min-height: 90vh;
  margin:  4rem auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  

}

.showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:  2 1 40rem;
 
}

.showcase-content h2 {
  font-size: 5rem;
}

.showcase-content p {
  font-size: 3rem;
  
}

.showcase-img {
  flex: 1 1 40rem;
  margin-top: 2rem;
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
  background: #312c2e;
  padding: 2rem;
 
}

.showcase-img img {
  border-radius:10px ;
 
}
.lead {
  padding-bottom: 4rem;
  color: #525252;
}

.img-zainab {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.btn-showcase{
  padding: 2rem 8rem;
  border:  3px solid #000;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -16%;
  transform: translateY(10%)  rotateZ(-10deg) rotateX(-90deg);
  animation: plant 1.5s ease-in-out 0.5s forwards,
  plant-shake 2.5s infinite ease alternate-reverse 2s;
  
  ;
 
  transform-origin: bottom;
  
}

.plant1 {
  width: 300px;
  left: 30%;
 
}
.plant2 {
  left: 50%;
  width: 300px;
}



/* animations */
@keyframes opening {
  from {
 opacity: 0;
  }
  to {
opacity: 1;
  }
}

/* plants */

@keyframes plant {
  from {
 transform: translateY(10%)  rotateZ(-10deg) rotateX(-90deg);
  }

  to {
   transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}


@keyframes plant-shake{
  from {
transform: rotateZ(-5deg);
  }
  to {
transform: rotateZ(0deg);
  }
}

/* burger */

.burger, .menu-check {
  display: none;
}


@media screen and (max-width:842px)
{

  .burger {
    position: relative;
    display: block;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #525252;
    margin: 0.5rem 0rem;
    display: block;
   
  }
 .nav-links {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
 
  .nav-links a {
    color: #fff;
    font-size: 3rem;
    text-decoration: underline;
  }
 .showcase-img {
   z-index: -1;
 }

 .menu-check {
   position: absolute;
   top: 5%;
   right: 5%;
   transform: translate(5%,-50%);
   width: 5rem;
   height: 5rem;
   cursor: pointer;
   opacity: 0;
   z-index: 100;
   display: block;
   
 }

 .menu-check:checked + .nav-links {
  transform: translateX(-100%);
 }

 .menu-check:checked ~ .burger span {
  background: #fff;
}


}


/* mobile view */

@media screen and (max-width:500px)
{
 #showcase {
   margin-top: 2rem;
 }

 .plant {
   width: 150px;
 }

}



/* about section */

.about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 8rem auto;
}

.about-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin:  auto;
  flex:2 1 40rem;
  background: #312c2e;
  color: #Fff;
  padding: 2rem;
  text-align: justify;
  border-radius: 10px;

}
.about-text h3 {
  font-size: 1.8rem;
  color: #ccc;
  text-decoration: underline;
}
.about-text p {
  font-size: 1.7rem;
  padding: 2rem;
  color: #Fff;
}

.about-img {
flex: 1 1 40rem;
}

.about-img img {
  width: 500px;
  border-radius: 10px;
  object-fit: cover;
}
